*{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    height:100%;
}
.colorFont{
    color: blueviolet;
    text-align: center;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}