*{
    margin:0%;
    padding:0%;
}
html,body{
    width:100%;
    height:100%;
}
body{
    background-color: aqua;
    display:flex;
    align-items: center;
    justify-content: center;
}
div{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: x-large;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:200px;
    height:200px;
    margin:10px;
    border-radius: 100px;
    box-shadow: 2px 2px 10px black;
}
#box1{
    background-color: rgb(116, 28, 28);
     
}
#box2{
    background-color: rgb(40, 213, 40);
   
}