*{
    margin:0%;
    padding:0%;
}
html,body{
    width:100%;
    height:100%;
}
body{
    background-color: aqua;
    /* display: flex; */
}
div{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
main{
    display: flex;
     
}
#box1{
    background-color: red;
    /* display: flex; */
}
#box2{
    background-color: green;
    /* display: flex; */
}
#box3{
    background-color: blue;
    
}