*{
    margin:0%;
    padding:0%;
}
html,body{
width:100%;
height:100%;
background-color: rgb(79, 194, 216);
}
#main{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100%;
}
.shape{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100px;
    height:100px;
    margin-left: 10px; margin-top:10px;
    /* border: 1px solid black; */

}
#square:hover{
    background-color: red;
}
#circle{
    border-radius: 50%;
}
#circle:hover{
    background-color: blue;
}
#diamond{
    transform: rotate(45deg);
    margin-top: 27px;
    width: 93px;
    height:93px;
}
#diamond:hover{
    background-color: green;  
}
#diamond h1{
    transform: rotate(-45deg);
}